.CreateModButton {
    @include IncreasedClickArea(0px);
    @include S(margin-top, 15px);
    @include S(margin-left, 15px);
}

.mods-list-button {
    @include S(width, 25px);
    @include S(height, 25px);
    pointer-events: all;
    cursor: pointer;
    & {
        background: center center / contain no-repeat;
    }
    transition: opacity 0.12s ease-in-out;
    @include IncreasedClickArea(2px);
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}